!!!
%html
  %head
    %title trend&#275;
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "application"
    = javascript_include_tag "http://code.highcharts.com/highcharts.js"
